
.custom-hoverBorder{
    border: 1px solid transparent;
}

.custom-hoverBorder:hover{
    border: 1px solid #d0d0d0;
}


span.custom-strikethrough {
    text-decoration: line-through;
  }

.custom-pointer-event{
    cursor: pointer;
}

.custon-hidde-element{
    display: none !important;
}

.custom-spanNumber{
    display: block;
    font-weight: bold;
}